.App {
  height: 100vh;
  text-align: center;
  background-color:rgba(255, 127, 80,0.3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.timer {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  background: white;
}

.timer__part {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.progress-bar {
  position: relative;
  height: 10px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
